# Ignore builds e caches padrão do Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.idea/
.vscode/

# Ignore arquivos temporários do sistema e editor
*.log
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

# Ignore a pasta de debug do Windows (se quiser)
build/windows/runner/Debug/

# Permitir o executável e DLLs na pasta teste_cervantes_exe/Release
!teste_cervantes_exe/Release/teste_cervantes.exe
!teste_cervantes_exe/Release/flutter_windows.dll

# Ignorar todos os outros executáveis ou DLLs fora dessa pasta
*.exe
*.dll
