# Diretórios gerados automaticamente
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Arquivos de dependências (gerados)
pubspec.lock

# IDEs e editores
.vscode/
.idea/
*.iml

# Arquivos temporários do sistema
*.log
*.tmp
*.swp
*.DS_Store

